*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-canvas{
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.container-border{
    border: 4px solid #222222;
    height: 640px;
    width: 640px;
    margin: auto;
}