*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 100vh;
    width: 100%;
    user-select: none;
    font-family: sans-serif;
    background-color: #e9e9ff;
}

input{
    cursor: pointer;
    border: none;
    outline: none;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #cfcfcf;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #222222;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

#color-picker{
    height: 4rem;
    width: 4rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-canvas{
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    user-select: none;
}

.container-border{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 640px;
    width: 640px;
    margin: auto;
}

.button-style{
    outline: none;
    border: none;
    padding: 1rem 2rem;
    background-color: #222222;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.25rem;
}

.button-selected{
    background-color: #888888;
}

.options-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}